# PROJEKTNA NALOGA

### UVOD

WorldData.info je obsežna baza geografskih, klimatoloških in demografskih podatkov. Ker ponuja širok in zanimiv nabor globalnih primerjav, sem se odločil, da s spletne strani https://www.worlddata.info/cost-of-living.php zajamem in grafično predstavim podatke, ki primerjajo življenske stroške po svetu.
Na seznamu je skupno 101 država, žal pa med njimi ni Slovenije. Seveda je globalna primerjava stroškov v praksi velik izziv in ni najbolj natančna, saj je vse kategorije težko oceniti enakovredno po celem svetu (npr. med državami se razlikujejo standardne velikosti stanovanj, oprema stanovanj, itd.).

In [2]:
# najprej uvozim vse potrebne pakete
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# vsebina csv datoteke
podatki_csv = pd.read_csv('drzave.csv')
podatki_csv

,Drzava,Indeks stroskov,Mesecni dohodek,Indeks kupne moci
0,Bermuda,157.9,"10,437 USD",103.8
1,Cayman Islands,138.3,"5,433 USD",61.7
2,Switzerland,131.4,"7,454 USD",89.1
3,Turks and Caicos Islands,124.6,"2,013 USD",25.4
4,Israel,123.1,"4,554 USD",58.1
...,...,...,...,...
95,Tajikistan,23.5,101 USD,6.7
96,Pakistan,23.1,132 USD,8.9
97,Myanmar,22.7,101 USD,7.0
98,Uzbekistan,21.7,183 USD,13.2
99,Palestine,17.7,384 USD,34.2

In [5]:
# za vnaprej tretji stolpec, ki ima poleg vrednosti navedeno tudi valuto,
# očistim 'USD'-ja

podatki_csv['Mesecni dohodek'] = podatki_csv['Mesecni dohodek'].str.replace(',', '', regex=True).str.replace('USD', '', regex=True)
podatki_csv

,Drzava,Indeks stroskov,Mesecni dohodek,Indeks kupne moci
0,Bermuda,157.9,10437,103.8
1,Cayman Islands,138.3,5433,61.7
2,Switzerland,131.4,7454,89.1
3,Turks and Caicos Islands,124.6,2013,25.4
4,Israel,123.1,4554,58.1
...,...,...,...,...
95,Tajikistan,23.5,101,6.7
96,Pakistan,23.1,132,8.9
97,Myanmar,22.7,101,7.0
98,Uzbekistan,21.7,183,13.2
99,Palestine,17.7,384,34.2